.slide-out {
  animation: slide-out 300ms linear forwards;
}

.slide-in {
  animation: slide-in 300ms linear forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100vh);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100vh);
  }
}