body {
  background:
      linear-gradient(180deg, rgb(255 255 255 / 0.5) 80%, rgb(255 255 255 / 0.2)),
      url('https://images.unsplash.com/photo-1464550883968-cec281c19761?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWlzdCUyMGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}