body {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  aspect-ratio: 1;
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,#f5e4f9 70%);
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), inset 0px 10px 30px 5px rgba(255, 255, 255, 0.75);
  animation: grow-shrink 5000ms linear infinite alternate-reverse;
}

body::before {
  transform: translate(-20%, 5%);
  width: 60vw;
  max-width: 420px;
}

body::after {
  transform: translate(30%, -20%);
  width: 45vw;
  max-width: 350px;
  animation-delay: 2500ms;
}

.slide-in {
  opacity: 0;
  animation: slide-in 300ms calc(var(--stagger, 0) * 300ms) linear forwards;
}

.slide-out {
  animation: slide-out 300ms linear forwards;
}

@keyframes slide-in {
  0% {
    transform: translate(-10vw, -10vh);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-10vw, -10vh);
    opacity: 0;
  }
}

@keyframes grow-shrink {
  0% {
    scale: 0.8;
    opacity: 0.7;
  }

  100% {
    scale: 1.1;
    opacity: 0.2;
  }
}