#attachment::-webkit-file-upload-button {
  visibility: hidden;
}

#attachment {
  width: 4rem;
  overflow: hidden;
}

#attachment::before {
  content: '+';
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;
  border: 1px solid #999;
  color: #60a5fa;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 1.25rem;
}

#attachment:hover::before {
  border-color: black;
}