[hidden] {
  display: none;
}
textarea {
  height: 5rem;
  resize: none;
}
#img-dialog {
  box-shadow: 0px 0px 100vw 100vw rgb(0 0 0 / 0.25);
}
.slide-in {
  opacity: 0;
  animation: slide-in 300ms ease-in-out forwards;
}
.slide-out {
  animation: slide-out 300ms ease-in-out forwards;
}
.scale-in {
  opacity: 0;
  animation: scale-in 300ms ease-in-out forwards;
}
.scale-out {
  animation: scale-out 300ms ease-in-out forwards;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100vw);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateX(0);
  } to {
    opacity: 1;
    transform: translateX(100vw);
  }
}
@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(1);
  } to {
    opacity: 1;
    transform: scale(0);
  }
}
@keyframes scale-out {
  from {
    opacity: 0;
    transform: scale(0);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}